.navbar{
    background-color: #fcd80d;
    height: 40px;
    font-size: 0.9rem;
    color: white;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */
section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 10rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color:#fcd80d;
    /*-webkit-text-stroke: 2px black;*/
    
}

.seccion-oscura {
    background-color: black;
    color:white;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Libre Baskerville', serif;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

.subtitulo {
    font-family: 'Libre Baskerville', serif;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .card-body {
    display: flex;
} */

/* The hero image */
.hero{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url("imagenes/fondo-olivos.jpg");
  
    /* Set a specific height */
    height: 100vh;
    min-height: 450px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }



.hero-principal{
    padding: 3rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

/* sobre mi */
.sobre-mi {
    min-height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Como funciona */

.experiencia {
    padding: 40px;
    background-color: black;
    color: white;
}

.experiencia .columna {
    padding: 20px;
    /* border: 2px solid #8080804d; */
    border: 3px solid white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: black;
    background-color: #fcd80d;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}


.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto {
    position: relative;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay a i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.proyecto:hover img {
    opacity: 0.2;
}


/* Login */
.gradient-custom {
    /* fallback for old browsers */
    background: black;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url("imagenes/fondo-olivos.jpg");
    
}


.canvas-parcela {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.contenedor-canvas {
    
    height: 100%;
    width: 100%;
}

.canvas {
    height: 100%;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 1440px){
    
    h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    
    h1 {
        font-size: 4rem;
    }

    .nav-item {
        width: 160px;
        background-color: #fcd80d;
        z-index: 1;
        text-align: center;
        border-radius: 5px;
        margin: 5px;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay a i {
        font-size: 40px;
    }

    h1 {
        font-size: 3rem;
    }
    
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 14rem;
    }
    
}